* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


.container-fluid,
#home-detail,
#more,
#vice-president,
#one-more-pic {
    width: 100%;
    height: 100%;
}

/*======================================
                home
======================================*/

#home{
    width: 100%;
    height: 80%;
}

.bg-common {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .container-fluid #about-bg-img {
    background-image: url("../images/quaid-azeem.png");
    background-attachment: fixed;
}

/*======================================
                more
======================================*/

#more .container-fluid #more-img {
    background-image: url("../images/quaid-azeem.png");
}


/*======================================
                vice president
======================================*/

#vice-president .container-fluid #vice-president-img {
    background-image: url("../images/quaid-azeem.png");
}


/*======================================
            one more pic
======================================*/

#one-more-pic .container-fluid #one-more-pic {
    background-image: url("../images/quaid-azeem.png");
}