* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


/*======================================
                home
======================================*/

#home {
    position: relative;
}

#home,
#home .container-fluid .bg-common .container {
    width: 100%;
    height: 100%;
}

.bg-common {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .container-fluid #about-bg-img {
    background-image: url("../images/Muslim_League_leaders_after_a_dinner_party\,_1940_\(Photo_429-6\).jpg");
    background-attachment: fixed;
}

#home .container-fluid #about-bg-img #bg-rgba {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .6);
}

#home .container-fluid #about-bg-img #bg-rgba .container {
    display: table;
}

#home .container-fluid #about-bg-img #bg-rgba .container #make-e-meddle {
    display: table-cell;
    vertical-align: middle;
}

#home .container-fluid .bg-common .container h3 {
    font-size: 5vw;
    font-weight: 500;
    margin-bottom: 3%;
}

#home .container-fluid .bg-common .container p {
    font-size: 22px;
    font-weight: 500;
}

#home .container-fluid .bg-common .container #line-break {
    width: 6%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 2%;
    bottom: 29.7%;
}

#home .container-fluid .bg-common .container #line-break-2 {
    width: 3%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 5%;
    bottom: 29%;
}


/*======================================
                promises
======================================*/

#promises .container .row {
    padding: 10% 2% 10%;
}

#promises .container .row .col-md-6 .box {
    padding: 4%;
}

#promises .container .row .col-md-6 .box .text-area:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#promises .container .row .col-md-6 .box .text-area p {
    font-size: 20px;
    font-weight: 300;
    padding: 7%;
    background-color: gainsboro;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*======================================
                footer
======================================*/

footer {
    width: 100%;
    height: 20%;
    color: #fff;
    background-color: #343A40;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
}

footer p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
}

footer #footer-links {
    list-style: none;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    padding-right: 4px;
}

footer ul li a i {
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}

footer #terms-condition a {
    font-size: 12px;
    color: #fff;
    padding-left: 4%;
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
    footer {
        height: 25%;
    }

    footer .container-fluid .row .col-md-12 {
        text-align: center !important;
    }

    footer .container-fluid .row #footer-links {
        margin-top: 0 !important;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    footer {
        height: 25%;
    }

    footer .container-fluid .row .col-md-12 {
        text-align: center !important;
    }

    footer .container-fluid .row #footer-links {
        margin-top: 0 !important;
    }
}


@media (max-width: 480px) {
    footer {
        height: 15%;
    }

    footer .container-fluid .row .col-md-12 {
        text-align: center !important;
    }

    footer .container-fluid .row #footer-links {
        margin-top: 0 !important;
    }

    footer .container-fluid .row #terms-condition {
        display: none;
    }
}