* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


/*======================================
                home
======================================*/

#home {
    width: 100%;
    height: 100%;
}

#home .container {
    width: 100%;
    height: 100%;
}

#home #cover-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/quaid-azeem.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
}

#some-text {
    padding-top: 25%;
}

#some-text h5 {
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#some-text h3 {
    font-size: 50px;
    font-weight: bolder;
    line-height: 1.5;
    margin-bottom: 40px;
}

#some-text a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border: 2px solid #000;
}

#links {
    position: relative;
    float: right;
}

#links ul {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#links ul li {
    list-style: none;
}

#links ul li a i {
    font-size: 17px;
    padding: 6px 0;
    color: #000;
}


/*======================================
                promises
======================================*/

#promises {
    width: 100%;
    height: 50%;
}

#promises .container-fluid {
    height: 100%;
}

#promises .container-fluid .row {
    height: 100%;
}

#promises .container-fluid .row .col-md-6 {
    height: 100%;
}

#promises #bg-half-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/quaid-azeem.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#promises #bg-half-img h3 {
    margin-top: 10%;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#promises #bg-half-img p {
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#promises #bg-half-img a i {
    color: #000;
    font-size: 70px;
}

#promises #bg-other-half {
    background-color: gray;
}

#promises #bg-other-half h3 {
    color: #fff;
    margin-top: 10%;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#promises #bg-other-half p {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#promises #bg-other-half input {
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


/*======================================
                involved
======================================*/

#involved {
    width: 100%;
    height: 63%;
}

#involved #cover-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/quaid-azeem.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#involved h3 {
    margin-top: 10%;
    font-weight: bolder;
    margin-bottom: 2%;
}

#involved p {
    font-weight: 500;
    margin-bottom: 5%;
}

#involved a {
    letter-spacing: 1px;
    color: #000;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 25px;
    border: 2px solid #000;
}


/*======================================
                shop
======================================*/

#shop {
    width: 100%;
    height: 90%;
}

#shop #shop-cover-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/quaid-azeem.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#shop h3 {
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 30%;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 4%;
}

#line-break {
    width: 70px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5%;
}

#shop p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10%;
}

#shop a {
    color: #000;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 30px;
    border: 3px solid #000;
    font-weight: bolder;
}


/*======================================
                follow
======================================*/

#follow {
    width: 100%;
    height: 60%;
}

#follow #twitter-link {
    position: relative;
}

#follow #twitter-link a {
    color: #000;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    position: absolute;
    margin-top: 7%;
    right: 5%;
}

#follow h3 {
    color: #000;
    margin-top: 7%;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 4%;
}

#follow p {
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 2%;
}

#follow h5 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 2%;
}

#follow span {
    color: #DA1333;
}

#follow a#link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: uppercase;
}


/*======================================
                footer
======================================*/

footer {
    width: 100%;
    height: 43%;
    color: #fff;
    background-color: #213875;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
}


footer h3 {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 3%;
    text-transform: capitalize;
}

footer input {
    margin-top: 5%;
    padding: 5px 10px;
    border: 1px solid #fff;
    background-color: transparent;
}

footer #middle-part h3 {
    font-size: 16px;
    margin-bottom: 1%;
}

footer p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
}

footer #footer-links {
    list-style: none;
    margin-top: 9% !important;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    padding-right: 4px;
}

footer ul li a i {
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}

#footer-line-break {
    margin-top: 50px !important;
    width: 100%;
    height: 1px;
    background-color: #4D6091;
    margin: 0 auto;
    margin-bottom: 2%;
}

footer #terms-condition a {
    font-size: 12px;
    color: #fff;
    padding-left: 4%;
}