* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


/*======================================
                home
======================================*/

#home {
    width: 100%;
    height: 100%;
    position: relative;
}


#home #cover-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}

#home .container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#home #some-text h3 {
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.1;
    margin-bottom: 4%;
}

#home #some-text p {
    color: #fff;
}

#links ul {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 3%;
    bottom: 5%;
}

#links ul li {
    list-style: none;
}

#links ul li a i {
    font-size: 17px;
    padding: 6px 0;
    color: #fff;
}


/*======================================
                promises
======================================*/

#promises {
    width: 100%;
    height: 50%;
}

#promises .container-fluid,
#promises .container-fluid .row,
#promises .container-fluid .row .col-md-6 {
    height: 100%;
}

#promises #bg-half-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/Montgomery_Hall_\(Quaid-e-Azam_Library\)_by_Usman_Ghani.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    display: table;
}

#promises #bg-half-img .container {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    display: table-cell;
    vertical-align: middle;
}

#promises #bg-half-img h3 {
    text-transform: capitalize;
    font-size: 3vw;
    font-weight: bolder;
    padding-bottom: 3%;
}

#promises #bg-half-img p {
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#promises #bg-half-img a i {
    color: #000;
    font-size: 7vw;
}

#promises #bg-other-half {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    display: table;
}

#promises #bg-other-half .container{
    display: table-cell;
    vertical-align: middle;
}

#promises #bg-other-half h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 3vw;
    font-weight: bolder;
    margin-bottom: 3%;
}

#promises #bg-other-half p {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#promises #bg-other-half input {
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


/*======================================
                involved
======================================*/

#involved {
    width: 100%;
    height: 60%;
}

#involved #cover-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/Quaid-e-Azam_at_Risalpur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

#involved #cover-img .container {
    display: table-cell;
    vertical-align: middle !important;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
}

#involved h3 {
    font-weight: bolder;
    padding-bottom: 2%;
}

#involved p {
    font-size: 20px;
    font-weight: 400;
}

#involved p.text-right {
    font-weight: 300;
    font-style: italic;
}

#involved a {
    letter-spacing: 1px;
    color: #000;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 25px;
    border: 2px solid #000;
}


/*======================================
                shop
======================================*/

#shop {
    width: 100%;
    height: 80%;
}

#shop #shop-cover-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/Quaids-residency.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}

#shop #shop-cover-img .container{
    display: table-cell;
    vertical-align: middle;
}

#shop #shop-cover-img .container .row .col-md-6 .container{
    padding: 5%;
    background: rgba(255, 255, 255, .6);
}

#shop h3 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 4%;
}

#line-break {
    width: 70px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5%;
}

#shop p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3%;
}

#shop #shop-cover-img .container .row .col-md-6 .container a {
    color: #000;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
}


/*======================================
                follow
======================================*/

#follow {
    width: 100%;
    height: 60%;
    position: relative;
    display: table;
}

#follow .container{
    display: table-cell;
    vertical-align: middle;
}

#follow .container .row .col-md-6{
    margin: 0 auto;
}

#follow .container .row .col-md-6 h3{
    font-size: 30px;
    font-weight: bolder;
    color: #213875;
}


/*======================================
                footer
======================================*/

footer {
    width: 100%;
    height: 50%;
    color: #fff;
    background-color: #213875;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
}


footer h3 {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 3%;
    text-transform: capitalize;
}

footer input {
    margin-top: 5%;
    padding: 5px 10px;
    border: 1px solid #fff;
    background-color: transparent;
}

footer #middle-part h3 {
    font-size: 16px;
    margin-bottom: 1%;
}

footer p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
}

footer #footer-links {
    list-style: none;
    margin-top: 9% !important;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    padding-right: 4px;
}

footer ul li a i {
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}

#footer-line-break {
    margin-top: 50px !important;
    width: 100%;
    height: 1px;
    background-color: #4D6091;
    margin: 0 auto;
    margin-bottom: 2%;
}

footer #terms-condition a {
    font-size: 12px;
    color: #fff;
    padding-left: 4%;
}


/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
    #promises {
        height: 60%;
    }

    footer {
        height: 90%;
        background-color: #213875;
    }

    footer .container-fluid .row .col-md-12 {
        text-align: center !important;
    }

    footer .container-fluid .row input {
        margin-top: 0;
        margin-bottom: 5%;
    }

    footer .container-fluid .row #footer-links {
        margin-top: 0 !important;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    #promises #bg-half-img h3 {
        font-size: 5vw;
    }

    #promises .container-fluid #bg-other-half {
        display: none;
    }

    #follow #twitter-link a {
        top: 1%;
    }

    footer {
        height: 85%;
        background-color: #213875;
    }

    footer .container-fluid .row .col-md-12 {
        text-align: center !important;
    }

    footer .container-fluid .row input {
        margin-top: 0;
        margin-bottom: 5%;
    }

    footer .container-fluid .row #footer-links {
        margin-top: 0 !important;
    }
}


@media (max-width: 480px) {
    #home h5 {
        margin-top: 20%;
    }

    #home h3 {
        font-size: 25px;
    }

    #promises #bg-half-img h3 {
        font-size: 5vw;
    }

    #promises .container-fluid #bg-other-half {
        display: none;
    }

    #follow #twitter-link a {
        top: 1%;
    }

    footer {
        height: 75%;
        background-color: #213875;
    }

    footer .container-fluid .row .col-md-12 {
        text-align: center !important;
    }

    footer .container-fluid .row input {
        margin-top: 0;
        margin-bottom: 5%;
    }

    footer .container-fluid .row #footer-links {
        margin-top: 0 !important;
    }

    footer .container-fluid .row #terms-condition {
        display: none;
    }
}