*{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#home{
    width: 100%;
    height: 100%;
}

#home .container{
    width: 100%;
    height: 100%;
}

#home #cover-img{
    width: 100%;
    height: 100%;
    background-image: url("../images/quaid-azeem.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
}

#some-text{
    padding-top: 25%;
}

#links{
    position: relative;
    float: right;
}

#links ul{
    padding: 0;
    margin: 0;
    position: absolute;
    right: 30px;
    bottom: 35px;
}

#links ul li{
    list-style: none;
}